$white: #fff;
$ice-blue: #ebf7ff;
$azure: #0096ff;
$medium-gray: #707a85;
$black-2: #757585;
$black-1: #212126;
$black-4: #c2c2cc;
$black-5: #ededf0;
$pale-grey-two: #f5fbff;
$black-3: #aaa7b5;
$medium-green: #39b54a;

// font

$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
