@import "../../static/scss/veriable.scss";
.rate-title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 2% !important;
}
.rate-value-block {
  display: flex !important;
  align-items: center;
}

.rate-value {
  margin-left: 6.1%;
  font-size: 15px;
  padding: 5px;
  border-bottom: 1px solid $black-4;
  font-family: $montserrat;
}
